h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 16px;
}

/* The hero image */
#welcomeBanner {
    /* Use "linear-gradient" to add a darken background effect. This will make the text easier to read */
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url("../images/mountains/Moriah-StoryImg.jpg");
    /* Set a specific height */
    /* height: 100%; */

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    height: 32rem;
    max-width: 100vw;
}

#welcomeMessage {
    /* padding: 1rem 1rem; */
    text-align: center;
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 75px;
    font-weight: normal;
    line-height: 125px;
    margin: 0 0 0px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}


.button-explore {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    /* margin: 0; */
    margin-bottom: 1em;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: center center;
    /* width:400px; */
}

.button-explore:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-explore:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-explore {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}

#nationalParkstableContainer {
    border: 3px solid purple;
    font-family: 'Rock Salt', cursive;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    width: 100%;

    /* font-weight: bold; */
    /* font-size: 8px; */
}

.nationalParksByTypeTableHead {
    font-weight: bold;
    background-color: #04AA6D;
    color: white;
    width: 100%;
}

/* .nationalParksByTypeTable-Body{
    background-color: #1d0b0b;
    table-striped;
    table-hover

} */
/* tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #58705d;} */